.git
.git/*
.metadata
.metadata/*
ADMIN_USB_1
ADMIN_USB_1/*
ButtonClickSample
ButtonClickSample/*
C_lang_Certify_class_1
C_lang_Certify_class_1/*
FileSample
FileSample/*
Git
Git/*
G_Java_Programmer
G_Java_Programmer/*
g_JExam_class_3
g_JExam_class_3/*
G_nbp_new
G_nbp_new/*
HelloAndroid
HelloAndroid/*
Java_Certify_class_1
Java_Certify_class_1/*
Java_Certify_class_2
Java_Certify_class_2/*
Job_search
Job_search/*
Learn_C_lang_01
Learn_C_lang_01/*
Learn_FreeMind
Learn_FreeMind/*
Learn_httpd
Learn_httpd/*
Learn_Java_1
Learn_Java_1/*
Learn_Lua
Learn_Lua/*
Learn_musescore
Learn_musescore/*
Learn_netpbm
Learn_netpbm/*
Learn_OpenCV
Learn_OpenCV/*
Learn_Python_1
Learn_Python_1/*
Learn_Ruby_1
Learn_Ruby_1/*
Learn_tools_C
Learn_tools_C/*
Learn_UML
Learn_UML/*
ListClickSample
ListClickSample/*
musescore
musescore/*
programming_1
programming_1/*
RemoteSystemsTempFiles
RemoteSystemsTempFiles/*
STOR_WORKSPACES
STOR_WORKSPACES/*
TEMP
TEMP/*
test
test/*
Torrent_files
Torrent_files/*
useT4J
useT4J/*
ViewSample
ViewSample/*
^^Learn_android
^^Learn_android/*
*.log
*.stackdump
